body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.header {
  background-image: image("./resources/pics/the-flatiron-building.png");
}
h1 {
  color: white
  font-size: 70px;
  font-weight: bold;
}

nav {
  font-size: 18px;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.small-header {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: image("./resources/pics/the-flatiron-building.png");
}

.footer {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
